<!-- your html code here -->
<!---Laura Cardozo - laurascardozo-->
<div style="background-color: white;">
    <div class="m-auto" style="width: 80%;">
        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam natus maiores nihil sunt adipisci. Quaerat
            voluptas
            vel dignissimos. Recusandae omnis rerum quibusdam vel ullam explicabo asperiores, qui corporis aspernatur
            culpa,
            libero optio. Mollitia ut laudantium molestias culpa omnis nobis tenetur voluptatibus, ipsam dolorum
            inventore
            temporibus iure. Sequi molestias saepe quaerat..</p>
        <form class="m-auto" style="background-color:#9B9B9B; width: 50%; height: 250px;">
            <div class="d-flex p-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
                <input type="email" class="form-control" style="width: 90%;" placeholder="Your email" id="inputEmail3">
            </div>
            <div class="d-flex px-3">
                <label for="inputMessage" class="col-sm-2 col-form-label"><strong>Your Message</strong></label>
                <textarea class="form-control" placeholder="Please enter your message here..." id="inputMessage"
                    style="height: 100px"></textarea>
            </div>
            <div class="d-flex justify-content-end p-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>