<!-- your html code here -->
<!--Heidy Sanchez Heysan9-->

<div class="clearfix p-5 bg-light border-top">
    <img src="https://www.shutterstock.com/shutterstock/photos/1906530886/display_1500/stock-vector-cartoon-illustration-of-shih-tzu-dog-cute-pose-vector-illustration-of-shih-tzu-dog-1906530886.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 rounded-circle" style="width: 200px; height: 200px;" alt="perrito">
    <h3>The First Heading Will <span class="text-secondary">Catch Your Eye</span></h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit voluptate eos alias atque explicabo reiciendis hic dolores labore, doloribus rerum harum expedita fugiat maiores nemo aspernatur voluptatibus.
    </p>
</div>