<!-- your html code here -->
<!--Heidy Sanchez Heysan9-->

<div class="clearfix p-5 bg-light border-top">
    <img src="https://img.freepik.com/foto-gratis/cibergato-electroflores-gigantes-al-amanecer-ia-generativa_8829-2889.jpg?w=740&t=st=1709779178~exp=1709779778~hmac=cfa0dfcb9b126756f20238e49a5867321b7477d4b796ae317d0b37f7caa9614c" class="col-md-6 float-md-start mb-3 ms-md-3 rounded-circle " style="width: 200px; height: 200px; margin-right: 20px;" alt="perrito">
    <h3>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, dolore aliquam facere odio quas reiciendis. Odio dolorum similique vero accusantium a tenetur, quod dolorem eius voluptate iste, ea, eos nulla?
    </p>
</div>