<!--Cristhian David Ramirez  Borknagar-->

<div class="p-5 text-center" style="
    background-image: url('https://i.pinimg.com/originals/ec/35/e7/ec35e7d8b5861c80a4fe0791a54d33a8.jpg');
    background-size: cover;
    background-position: center center;
    height: 400px; /* Ajusta la altura según tus necesidades */
">
  <div class="mask" style="background-color: rgba(22, 21, 21, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">One Page Wonder</h1>
        <h4 class="mb-3">Will Knock Your Socks Off</h4>
      </div>
    </div>
  </div>
</div>
